<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Andy_Collection"
        tools:targetApi="31">
        <activity
            android:name=".Astro"
            android:exported="false" />
        <activity
            android:name=".Stray"
            android:exported="false" />
        <activity
            android:name=".Final_Fantasy"
            android:exported="false" />
        <activity
            android:name=".EldenRing"
            android:exported="false" />
        <activity
            android:name=".Zelda"
            android:exported="false" />
        <activity
            android:name=".MarioKart"
            android:exported="false" />
        <activity
            android:name=".WWF"
            android:exported="false" />
        <activity
            android:name=".Melee"
            android:exported="false" />
        <activity
            android:name=".Pokemon_XD"
            android:exported="false" />
        <activity
            android:name=".ds_collection"
            android:exported="false" />
        <activity
            android:name=".ps5_collection"
            android:exported="false" />
        <activity
            android:name=".Steam_Collection"
            android:exported="false" />
        <activity
            android:name=".PS2"
            android:exported="false" />
        <activity
            android:name=".Switch2"
            android:exported="false" />
        <activity
            android:name=".SteamDeck"
            android:exported="false" />
        <activity
            android:name=".gamecube"
            android:exported="false" />
        <activity
            android:name=".wii"
            android:exported="false" />
        <activity
            android:name=".gamecube_collection"
            android:exported="false" />
        <activity
            android:name=".console_collection"
            android:exported="false" />
        <activity
            android:name=".game_console_option"
            android:exported="false" />
        <activity
            android:name=".About"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>